.btn{
    border: 4px solid #68FCCC !important;
    padding: 10px 12px !important;
    font-size: 16px !important;
    color: #68FCCC !important;
    background: #000 !important;
    font-weight: 800 !important;
    border-radius: 18px !important;
    box-shadow: 1px 1px 20px 14px #68FCCC;

}
.btn:hover{
    background-color: #68FCCC !important;
    color: #000 !important;
    border: 4px solid #68FCCC !important;
}
.image-dog{
    display: block;
    margin: auto;
    width: 85%;
    margin-top: 35px !important;
  }